@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
}

a {
      text-decoration: none;
      color: black;
}

button {
      border: none;
      cursor: pointer;
}

ul {
      list-style: none;
}

.container {
      width: 80%;
      margin: auto;
}
/*Sidenav*/

.sidenav-span{
      display: none;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    

/* header */
header {
      padding-top: 20px;
      background-color: #0FBF611A;
}

/* navbar */
header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
}

nav .nav-item {
      display: flex;
      align-items: center;
      gap: 30px;
}

nav .nav-item li:first-child {
      color: #0FBF61;
}

.nav-item li button,
.a-text button,
.s-4 button,
.s-5-block .buttons button {
      padding: 12px 40px;
      border-radius: 50px;
      background-color: #0FBF61;
}

.nav-item li button {
      font-size: 18px;
      font-weight: 500;
}

.nav-item li a {
      color: black;
      font-size: 18px;
      font-weight: 500;
}

.toggle-menu {
      position: absolute;
      right: 0;
      display: none;
}

.toggle-menu a {
      font-size: 30px;
}

/* header article */

header article {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 100px;
}

.a-text {
      width: 45%;
}

.a-text h1 {
      font-size: 40px;
      font-weight: 700;
      margin-top: 7px;
      line-height: 70px;
      font-family: 'Poppins', sans-serif;
}

.a-text p:first-child {
      font-size: 30px;
      font-weight: 400;
      line-height: 35px;
      color: #0FBF61;
}

.a-text h1+p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #494949;

}

.a-text button {
      margin-top: 30px;

}

header article .a-img {
      width: 40%;
}

article .a-img img {
      width: 100%;
}

/* Main Sections - S 1*/

main .s-1 article {
      padding: 100px 0 200px 0;
      display: flex;
      justify-content: flex-end;
      gap: 150px;
}

.s-1 article .s-1-img {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 80%;
}

.s-1 article .s-1-text {
      width: 100%;
}

.s-1 article .s-1-text h1 {
      color: #0FBF61;
      font-size: 32px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 30px;
}

.s-1 article .s-1-text p {
      color: #494949;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 30px;
}

.s-1-text p span {
      color: #0FBF61;
}

.s-1-ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
}

.s-1-text ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.s-1-text ul li img {
      padding-right: 20px;
}


/* Section 2 */
.s-2 {
      padding-bottom: 150px;
}

.s-2 .s-2-head {
      text-align: center;
      margin-bottom: 60px;
}

.s-2-head h4,
.s-4 article .head h4 {
      font-weight: 400;
      margin-bottom: 16px;
      color: #494949;
}

.s-2-head h1,
.s-4 article .head h1 {
      color: #0FBF61;
      font-size: 30px;
}

.s-2 article .s-2-block {
      display: flex;
      justify-content: space-between;
}

.s-2-block .s-2-item {
      display: flex;
      gap: 30px;
}

.s-2-item .icon {
      border-radius: 22px;
      padding: 25px;
}

.s-2-item:nth-child(1) .icon {
      background: rgba(15, 191, 97, 0.2);
}

.s-2-item:nth-child(2) .icon {
      background: #2D4CFF21;
}

.s-2-item:nth-child(3) .icon {
      background: rgba(15, 191, 97, 0.05);
}

.s-2-item .text {
      padding: 20px 0;
}

.s-2-item .text h4 {
      color: #494949;
      margin-bottom: 8px;
}

.s-2-item .text p {
      font-weight: 500;
}

/* Section 3 */

.s-3-block {
      display: flex;
      flex-direction: column;
      gap: 90px;
      margin-bottom: 100px;
}

.s-3-item {
      display: flex;
      align-items: center;
      border: 1px solid #C4C4C4;
      border-radius: 30px;
}

.s-3-item .img {
      position: relative;
      width: 60%;
}

.s-3-item img {
      position: absolute;
      top: -230px;
      width: 554px;
      height: 394px;
}

.s-3-item .text {
      padding: 40px;
      width: 45%;

}

.s-3-item .text span {
      font-weight: 400;
      color: #494949;
}

.s-3-item .text h2 {
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 50px;
      margin-top: 36px;

}

/* Section 4  */
.s-4 {
      padding-bottom: 130px;
}

ul.cat {
      margin-top: 75px;
      margin-bottom: 95px;
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
}

.cat li {
      font-size: 18px;
      font-weight: 500;
}

.cat li a {
      transition: all .3s;
}

.cat li a:hover {
      text-decoration: underline;
      color: #0FBF61;
}

.s-4-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
}

.s-4-block .s-4-item {
      width: 45%;
}

.s-4-item img {
      width: 100%;
}

.s-4 article .buttons {
      display: flex;
      justify-content: center;
}

.s-4 article button {
      padding: 12px 64px;
      margin-top: 110px;
      margin-bottom: 136px;
      color: #fff;
      font-size: 20px;
}

/* Section 5 */
.s-5 {
      position: relative;
}

.s-5-block {
      display: flex;
      justify-content: space-between;
      width: 80%;
      top: -150px;
      background-color: #0FBF61;
      gap: 50px;
      align-items: center;
      color: #fff;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      position: absolute;
      padding-top: 50px;
}

.s-5-text h1 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 25px;
}

.s-5-text p {
      font-size: 18px;
}

.s-5-block .s-5-svg img {
      width: 70%;
}

.s-5-block .buttons button {
      background-color: #fff;
      color: #0FBF61;
}

/* Section 6 */
.s-6 {
      background-color: rgba(15, 191, 97, 0.1);
      ;
}

.s-6-block {
      padding-top: 155px;
      padding-bottom: 70px;
      display: flex;
      justify-content: space-between;
}

.s-6-text p {
      font-size: 18px;
      font-weight: 500;
}

.s-6-icons ul {
      display: flex;
      gap: 20px;
}

.s-6-icons ul li {
      font-size: 20px;
}

@media (max-width: 900px) {
      nav ul.nav-item {
            display: none;
      }

      .toggle-menu {
            display: block;
      }

      /* Header */

      header article .a-img {
            display: none;
      }

      .a-text {
            width: 100%;
      }

      /* Section 1 */
      .s-1 article .s-1-img {
            display: none;
      }

      /* Section 2 */
      .s-2 article .s-2-block {
            flex-wrap: wrap;
            gap: 30px;
      }

      /* Section 3 */
      .s-3-item .img {
            display: none;
      }

      .s-3-item .text {
            width: 100%;
      }

      /* Section 4 */

      .s-4-block .s-4-item {
            width: 100%;
      }

      /* Section 5 */
      .s-5{
            padding-bottom: 100px;
      }
      .s-5-block{
            flex-direction: column;
      }
      .s-5-svg{
            display: none;
      }

      /* Section 6 */
      .s-6-block {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

}

