@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
}
a{
      text-decoration: none;
}
button{
      border: none;
      cursor: pointer;
}
ul{
      list-style: none;
}
.container{
      width: 80%;
      margin: auto;
}
/* header */
header{
      padding-top: 20px;
      background-color: #0FBF611A;
}
/* navbar */
header nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}
nav .nav-item{
      display: flex;
      align-items: center;
      gap: 30px;
}
nav .nav-item li:first-child{
      color: #0FBF61;
}
.nav-item li button,.a-text button{
      padding: 12px 40px;
      border-radius: 50px;
      background-color: #0FBF61;
}
.nav-item li a{
      color: black;
}

/* header article */

header article{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 100px;
}

.a-text{
      width: 45%;
}
.a-text h1{
      font-size: 40px;
      font-weight: 700;
      margin-top: 7px;
      line-height: 70px;
      font-family: 'Poppins', sans-serif;
}
.a-text p:first-child{
      font-size: 30px;
      font-weight: 400;
      line-height: 35px;
      color: #0FBF61;
}
.a-text h1+p{
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #494949;

}
.a-text button{
      margin-top: 30px;

}
header article .a-img{
      width: 40%;
}
article .a-img img{
      width: 100%;
}

/* Main Sections - S 1*/

main .s-1 article{
      padding: 100px 0 200px 0 ;
      display: flex;
      justify-content: flex-end;
      gap: 150px;
}
.s-1 article .s-1-img{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 80%;
}
.s-1 article .s-1-text{
      width: 100%;
}
.s-1 article .s-1-text h1{
      color: #0FBF61;
      font-size: 32px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 30px;
}

.s-1 article .s-1-text p{
      color: #494949;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 30px;
}
.s-1-text p span{
      color: #0FBF61;
}
.s-1-ul{
      width: 80%;
      display: flex;
      justify-content: space-between;
}
.s-1-text ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
}
.s-1-text ul li img{
      padding-right: 20px;
}


/* Section 2 */
.s-2{
      padding-bottom: 150px;
}
.s-2 .s-2-head{
      text-align: center;
      margin-bottom: 60px;
}
.s-2-head h4{
      font-weight: 400;
      margin-bottom: 16px;
}
.s-2-head h1{
      color: #0FBF61;
      font-size: 30px;
}
.s-2 article .s-2-block{
      display: flex;
      justify-content: space-between;
}
.s-2-block .s-2-item{
      display: flex;
      gap: 30px;
}
.s-2-item .icon{
      border-radius: 22px;
      padding: 25px;
}
.s-2-item:nth-child(1) .icon{
      background: rgba(15, 191, 97, 0.2);
}
.s-2-item:nth-child(2) .icon{
      background: #2D4CFF21;
}
.s-2-item:nth-child(3) .icon{
      background: rgba(15, 191, 97, 0.05);
}
.s-2-item .text{
      padding: 20px 0;
}
.s-2-item .text h4{
      color: #494949;
       margin-bottom: 8px;
}
.s-2-item .text p{
      font-weight: 500;
}